@charset "utf-8";
/* CSS Document */

/*Design för body*/
body {
font-size: small;
font-family: Verdana, Arial, Helvetica, sans-serif;
text-align: justify;
background-color: #fbfded;
}

/*design för rubriken h1*/
h1 {
font-size: 110%;
}

/*design för rubriken h2*/
h2 {
text-align: justify;
font-size: 100%;
font-style:oblique;
}

/*design för rubriken h3*/
h3 {
text-align: justify;
font-size: 120%;
}

/*design för rubriken h4*/
h4 {
text-align: justify;
font-size: 100%;
font-style: bold;
margin-bottom: 0%;
}

/*design för rubriken h5*/
h5 {
text-align: justify;
font-size: 80%;
font-style: italic;
margin-bottom: 0%;
}

/*design för länkar*/
a:link { text-decoration: none; color: #3C3C3B;}
a:visited { text-decoration: none; color: #3C3C3B;}
a:active { text-decoration: none; color: #3C3C3B;}
a:hover { text-decoration: none; color: #39B6BD;}

/*design för boxen runt hela sidan*/
#wrapper {
margin-left: 20%;
margin-top: 2%;
margin-bottom: 5%;
width: 700px;
}

/*design för boxen med sidobild*/
#picture {
position:relative;
top:50px;
z-index:-1;
height: 300px;
widht: 700px;
float: top;
border: none;
}

#textInPage{
border: none;
margin: 2%;
display: block;
padding:10px;
}

.en {
position:absolute;
margin-top: 2%;
top:320px;
margin-left: 20%;
left:680px;
}

.sv {
position:absolute;
margin-top: 2%;
top:320px;
margin-left: 20%;
left:650px;
}

.ossBild {
margin:2px;
text-align: center;
}

/*design för boxen med menyn*/
#menu {
float: none;

}

/*design för boxen med text*/
#text {
background-color: #ecf1ef;
width: 670px;
border: solid 2px #ffb3da;
float: center;
overflow: hidden; 
padding:10px; 
margin-top:10px; 
height:auto;
}

.images{
	display: inline-block;
	text-align: center;
}

.topbox{
	margin:2px;
	text-align: center;
	vertical-align: top;
	padding-top: 2px;
}

.right{
	text-align: right;
	margin:8px;
	display: inline-block;
	vertical-align: top;
}

.left{
	text-align: left;
	width: 300px;
	margin:8px;
	display: inline-block;
}
